<section class="hero">
    <div class="hero__container container">
        <h2 class="hero__title">Introduce Your Product Quickly & Effectively</h2>
        <p class="hero__descr">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        </p>
        <p class="hero__descr">
            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <button class="hero__btn-left">Purchase UI Kit</button>
        <button class="hero__btn-right">Learn More</button>
        <!-- <img src="/images/hero.png" alt="" class="hero__image"> -->
    </div>
</section>

