<section class="price">
    <div class="price__container container">
        <h3 class="price__title">A Price To Suit Everyone</h3>
        <p class="price__descr">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        </p>
        <h4 class="price__cost">$40</h4>
        <p class="price__info">UI Design Kit</p>
        <p class="price__prompt">See, One price. Simple.</p>
        <button class="price__btn">Purchase Now</button>
    </div>
</section>